<ons-toolbar>
  <div class="center">Message</div>
</ons-toolbar>
<div class="background"></div>
<ons-list>
	<ons-list-item modifier="chevron" class="item" (click)="push()">
	    <ons-row>
	        <ons-col width="70px">
	        	<img class="item-thum" src="img/placekitten.jpeg">
	        </ons-col>
	        <ons-col>
	            <header>
	            	<span class="item-label">Unread</span>
	                <span class="item-title">Chiba Yosuke</span>
	            </header>
	            <p class="item-desc">Have a good holiday.It’s wonderful to see you again.</p>
	        </ons-col>
	    </ons-row>
	</ons-list-item>
	<ons-list-item modifier="chevron" class="item" (click)="push()">
	    <ons-row>
	        <ons-col width="70px">
	        	<img class="item-thum" src="img/placekitten.jpeg">
	        </ons-col>
	        <ons-col>
	            <header>
	            	<span class="item-label-r"></span>
	                <span class="item-title">Chiba Yosuke</span>
	            </header>
	            <p class="item-desc">Have a good holiday.It’s wonderful to see you again.</p>
	        </ons-col>
	    </ons-row>
	</ons-list-item>
	<ons-list-item modifier="chevron" class="item" (click)="push()">
	    <ons-row>
	        <ons-col width="70px">
	        	<img class="item-thum" src="img/placekitten.jpeg">
	        </ons-col>
	        <ons-col>
	            <header>
	            	<span class="item-label-r"></span>
	                <span class="item-title">Chiba Yosuke</span>
	            </header>
	            <p class="item-desc">Have a good holiday.It’s wonderful to see you again.</p>
	        </ons-col>
	    </ons-row>
	</ons-list-item>
</ons-list>
