<ons-toolbar>
  <div class="center">Home</div>
</ons-toolbar>
<div class="background"></div>
<ons-list>
	<ons-list-item modifier="chevron" class="item" (click)="push()">
	    <ons-row>
	        <ons-col width="90px">
	        	<img class="item-thum" src="img/placekitten.jpeg">
	        </ons-col>
	        <ons-col>
	            <header>
	            	<span class="item-label">Otaku</span>
	                <span class="item-title">Chiba Yosuke</span>
	            </header>
	            <p class="item-desc">I’m studying English, because I want to be able to communicate with people from other countries.</p>
	        </ons-col>
	    </ons-row>
	</ons-list-item>
	<ons-list-item modifier="chevron" class="item" (click)="push()">
	    <ons-row>
	        <ons-col width="90px">
	        	<img class="item-thum" src="img/placekitten.jpeg">
	        </ons-col>
	        <ons-col>
	            <header>
	            	<span class="item-label">Otaku</span>
	                <span class="item-title">Chiba Yosuke</span>
	            </header>
	            <p class="item-desc">I’m studying English, because I want to be able to communicate with people from other countries.</p>
	        </ons-col>
	    </ons-row>
	</ons-list-item>
	<ons-list-item modifier="chevron" class="item" (click)="push()">
	    <ons-row>
	        <ons-col width="90px">
	        	<img class="item-thum" src="img/placekitten.jpeg">
	        </ons-col>
	        <ons-col>
	            <header>
	            	<span class="item-label">Otaku</span>
	                <span class="item-title">Chiba Yosuke</span>
	            </header>
	            <p class="item-desc">I’m studying English, because I want to be able to communicate with people from other countries.</p>
	        </ons-col>
	    </ons-row>
	</ons-list-item>
	<ons-list-item modifier="chevron" class="item" (click)="push()">
	    <ons-row>
	        <ons-col width="90px">
	        	<img class="item-thum" src="img/placekitten.jpeg">
	        </ons-col>
	        <ons-col>
	            <header>
	            	<span class="item-label">Otaku</span>
	                <span class="item-title">Chiba Yosuke</span>
	            </header>
	            <p class="item-desc">I’m studying English, because I want to be able to communicate with people from other countries.</p>
	        </ons-col>
	    </ons-row>
	</ons-list-item>
	<ons-list-item modifier="chevron" class="item" (click)="push()">
	    <ons-row>
	        <ons-col width="90px">
	        	<img class="item-thum" src="img/placekitten.jpeg">
	        </ons-col>
	        <ons-col>
	            <header>
	            	<span class="item-label">Otaku</span>
	                <span class="item-title">Chiba Yosuke</span>
	            </header>
	            <p class="item-desc">I’m studying English, because I want to be able to communicate with people from other countries.</p>
	        </ons-col>
	    </ons-row>
	</ons-list-item>
	<ons-list-item modifier="chevron" class="item" (click)="push()">
	    <ons-row>
	        <ons-col width="90px">
	        	<img class="item-thum" src="img/placekitten.jpeg">
	        </ons-col>
	        <ons-col>
	            <header>
	            	<span class="item-label">Otaku</span>
	                <span class="item-title">Chiba Yosuke</span>
	            </header>
	            <p class="item-desc">I’m studying English, because I want to be able to communicate with people from other countries.</p>
	        </ons-col>
	    </ons-row>
	</ons-list-item>
</ons-list>


